<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/carrinhoDeCompras.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
    </style>
</head>
<body>
    
    
    <div class="container">
        <div class="carrinhodecompras">
            <div>
                <h2>Carrinho de Compras</h2>
            </div>
            <div> 
                <h2> Total </h2>
            </div>
        </div>
        
        
        <div class="compra">
            <div class="imagem2">
                <img src ="../public/images/Camiseta-Arimlap-Branco-Lisa-Camiseta-Arimlap-Branco-Lisa-M_0 1.png" alt="Camisa branca">
            </div>
            <h3>Descriçao camiseta</h3>
            <form action="qtdade">
                <label>Quantidade</label>
                <input type="number" name="qtdade" value="1" min="1" max="20">
                <button type="button">Remover</button>
            </form>
            <h3>Valor</h3>
        </div>
        <div class="compra">
            <div class="imagem2">
                <img src ="../public/images/Camiseta-Arimlap-Branco-Lisa-Camiseta-Arimlap-Branco-Lisa-M_0 1.png" alt="Camisa branca">
            </div>
            <h3>Descriçao camiseta</h3>
            <form action="qtdade">
                <label>Quantidade</label>
                <input type="number" name="qtdade" value="1" min="1" max="20">
                <button type="button">Remover</button>
            </form>
            <h3>Valor</h3>
           
        </div>
       
    </div>
    <div class="container2">
        <div class="texto">
            <span>Subtotal</span>
            <span>Valor</span>
        </div>
        <div class="detalhe">
            <h6> Os códigos de desconto, o frete e os impostos ão adicionados no encerramento</h6>
        </div>
        <div class="finalizasubmit">
            <form action="finalCompra"></form>
            <button type="submit">Fechar Pedido</button>
        </div>
</body>


